
.img-logo{
	height: 100px;
	width: 100px;
	display: block;
	background: url('../fucapi/img/logo.png') no-repeat;
	background-size: contain;
	color: transparent;
}
nav.largura01{
	padding-bottom: 70px;
	margin: 0px;
	border-bottom: none;
}
.navbar-transparente{
    background: rgba(70, 130, 180,0.2);
}
nav.largura02{
	border-top: none;
	margin: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #3c608c;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #bc5e19;
}
.transparente{
    background: transparent;
}
.nosso{
    color: #3c608c;
}
.sala{
    background: rgba(70, 130, 180,0.2);;
}